:root {
  --clr-1: hsl(176, 50%, 47%);
  --clr-2: hsl(176, 72%, 28%);
  --clr-3: hsl(0, 0%, 0%);
  --clr-4: hsl(0, 0%, 48%);
  --clr-5: #fff;
  --clr-7: #fafafa;
  --clr-8: rgba(47, 47, 47, 0.05);
  --clr-9: #7a7a7a;

  --clr-6: hsla(0, 0%, 48%, 0.1);

  --ff-primary: "Commissioner", sans-serif;

  --fw400: 400;
  --fw500: 500;
  --fw700: 700;
}
